# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj
nbproject
Thumbs.db
.idea

# NPM and Bower packages folder.
node_modules
bower_components

# Webpack output folder.
public/assets
public/*.html
